<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    
    <footer class="footer-distributed">

        <div class="footer-left">
            <h3>Employee<span>ManagementSystem</span></h3>

            <p class="footer-links">
                <a href="/">Home</a>
                |
                <a href="/aboutus">About Us</a>
                |
                <a href="/contactus">Contact Us</a>
                |
                <a href="/logout">Log Out</a>
            </p>

            <p class="footer-company-name">Copyright © 2021 <strong>Employee Management System</strong> All rights reserved</p>
        </div>

        <div class="footer-center">
            <div>
                <a href="https://www.google.com/maps/place/Jamnagar,+Gujarat/@22.5980099,69.7348467,10.1z/data=!4m5!3m4!1s0x3957154934c04597:0xe8b7dd81a49b75ca!8m2!3d22.4707019!4d70.05773" target="blank"><i class="fa fa-map-marker"></i></a>
                <p><span>Jamnagar</span>
                    Gujarat</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+91 74**9**258</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:sagar00001.co@gmail.com">xyz@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the company</span>
                <strong>Employee Management System</strong> The company breaks down different pieces of the story into sections 
                that combine words and easily digestible graphics, painting a picture 
                instead of big chunks of text.
            </p>
            <div class="footer-icons">
                <a href="https://www.facebook.com/" target="blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/?hl=en" target="blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/login"  target="blank"><i class="fa fa-linkedin"></i></a>
                
            </div>
            
        </div>
    </footer>

</body>

</html>
